body {
    font-family: roboto;
    background: url(../img/twty.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    font-family: Courier;
    display: flex;
    height: 5em;
    width: 100%;
    padding: 20px;
    background: rgba(49, 47, 47, 0.5);
}

.add-user {
    margin-left: auto;
    margin-top: -0.1em;
    color: orange;
    font-size: 1.2em;
    padding: 0.5em 1.5em 1.5em 1.5em;
    border: 2px solid orange;
    background: transparent;
}

header>p {
    font-size: 40px;
    margin-left: 1em;
    margin-bottom: 0;
    color: whitesmoke;
    letter-spacing: 0.5em;
    font-family: 'Yatra One';
}

header>p::first-letter {
    color: orange;
}

header>p::after {
    content: "r";
    color: rgb(80, 190, 226);
}

img.logo {
    width: 4em;
    height: 4em;
    margin-top: -0.9em;
}

#useradd {
    background-color: rgb(236, 169, 45);
    border: none;
    color: black;
    letter-spacing: 0.2em;
    font-weight: bold;
    font-size: 1em;
}

/* Set a style for all buttons */

button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 4em;
    border-radius: 50%;
}

.container {
    padding: 16px;
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Modal Content/Box */

.modal-content {
    background: url(../img/twty.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.2em;
    margin: 5% auto 10% auto;
    border: 1px solid #888;
    color: whitesmoke;
    width: 80%;
}

/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: whitesmoke;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(80, 190, 226);
    cursor: pointer;
}

#users-container {
    color: whitesmoke;
    width: 22em;
    height: 545px;
    margin-left: 1em;
    overflow: auto;
}

#users-container>.well {
    display: flex;
}

#users-container>.well>#more {
    margin-left: auto;
    color: rgb(80, 190, 226);
    margin-top: 1.8em;
}

#users-container>.well>#more:hover {
    color: orange;
}

#users-container>.well>img {
    margin-top: 1.8em;
    margin-right: 1em;
    width: 2em;
    height: 2em;
}

.delete {
    background: none;
    color: orange;
    padding: 0;
    margin: 2.2em 0 0 0;
    width: 2em;
    height: 2em;
}

.delete>span {
    font-size: 1.5em;
}

.home {
    display: flex;
    justify-content: space-between;
}

.welcome-msg {
    width: 50%;
    margin-bottom: 0;
    margin-top: 3em;
    margin-right: 7em;
    color: rgb(148, 137, 137);
}

.welcome-msg>h1 {
    font-family: 'Gloria Hallelujah';
    margin-top: 0;
}

/* Customizing Scroll bar  */

/* width */

::-webkit-scrollbar {
    width: 9px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(105, 102, 102);
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: orange;
}

/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.5s;
    animation: animatezoom 0.5s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 330px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        width: 100%;
        height: 100%;
    }
    .home {
        /* flex-wrap: wrap; */
        width: 100%;
        /* flex-direction: column-reverse; */
    }
    .welcome-msg {
        width: 100%;
        margin-left: 2em;
        margin-right: 2em;
    }
    .welcome-msg>h1 {
        font-size: 3em;
    }
    #users-container {
        width: 100%;
        height: 485px;
        margin-top: 1em;
        overflow: auto;
    }
    .title{
        font-size: 2em;
    }
}