body {
    font-family: roboto;
    background: url(../img/twty.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    font-family: Courier;
    display: flex;
    height: 5em;
    width: 100%;
    padding: 20px;
    background: rgba(49, 47, 47, 0.5);
}

.add-user {
    margin-top: -0.1em;
    margin-right: 1em;
    color: orange;
    font-size: 1.2em;
    padding: 0.5em 1.5em 1.5em 1.5em;
    border: 2px solid orange;
    background: transparent;
}

.add-follow {
    margin-top: -0.1em;
    color: orange;
    font-size: 1.2em;
    padding: 0.5em 1.2em 1.5em 1.2em;
    border: 2px solid orange;
    background: transparent;
}

.title {
    font-size: 40px;
    margin-left: 1em;
    margin-bottom: 0;
    color: whitesmoke;
    letter-spacing: 0.5em;
    font-family: 'Yatra One', serif;
}

header>p::first-letter {
    color: orange;
}

header>.title::after {
    content: "r";
    color: rgb(80, 190, 226);
}

img.logo {
    width: 4em;
    height: 4em;
    margin-top: -0.9em;
}

.username {
    font-size: 2em;
    margin: 0.2em 1.5em 0 auto;
    color: whitesmoke;
    letter-spacing: 0.2em;
    font-family: 'Yatra One', serif;
}

#tweet {
    background-color: rgb(236, 169, 45);
    border: none;
    color: black;
    letter-spacing: 0.2em;
    font-weight: bold;
    font-size: 1em;
}

/* Set a style for all buttons */

button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 4em;
    border-radius: 50%;
}

.container {
    padding: 16px;
    margin: 0;
}

.modal,
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Modal Content/Box */

.modal-content {
    background: url(../img/twty.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.2em;
    margin: 5% auto 10% auto;
    border: 1px solid #888;
    color: whitesmoke;
    width: 80%;
}

/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: whitesmoke;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(80, 190, 226);
    cursor: pointer;
}

.alltweets {
    display: flex;
}

#posts-container {
    width: 50%;
    color: white;
}

#posts-container>h3 {
    margin: 0 0 1em 0;
    font-family: 'Yatra One';
    margin-left: 1em;
    color: orange;
}

.well>.tweetpost {
    display: flex;
}

.well>.tweetpost>h5 {
    margin-top: 0.15em;
    margin-left: 0.5em;
}

.well {
    display: flex;
    margin-right: 1em;
    flex-direction: column;
}

.tweetpost>p {
    color: rgb(80, 190, 226);
    letter-spacing: 0.1em;
}

.well>p {
    align-self: flex-end;
}

#posts-container>h4 {
    text-align: center;
}

#tweetbody {
    height: 420px;
    overflow: auto;
}

#follow-container {
    display: flex;
    flex-wrap: wrap;
}

#follow-container>.heading {
    color: rgb(80, 190, 226);
}

#follow-container>input {
    margin-left: 1.5em;
    margin-top: 0.2em;
}

#follow-container>label {
    margin-left: 0.5em;
}

#follow-container>#follow-butt {
    margin-left: auto;
    margin-top: -1em;
    background: orange;
    color: black;
    border: 0;
    font-weight: bold;
}

/* Customizing Scroll bar  */

/* width */

::-webkit-scrollbar {
    width: 9px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(105, 102, 102);
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: orange;
}

/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.5s;
    animation: animatezoom 0.5s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and  (max-width: 1024px) {
    .title {
        font-size: 2em;
        margin-top: 0.2em;
    }
    .username{
        font-size: 1.5em;
    }
    #posts-container > h3{
        margin-left: 0.5em;
    }
    #posts-container{
        height: 500px;
    }
    #follow-container{
        flex-wrap: wrap;
    }
    #follow-container>#follow-butt{
        margin-top: 2em;
    }
}

/* @media screen and (min-width: 1024px) and  (max-width: 1440px) {

} */